@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root{
    --primary-color: #6750A4;
    --secondary-color: #E8DEF8;
    --text-light: #49454F;
    --text-white: #FFFFFF;
    --background: #FFFFFF;
    --black: #000000;
}